<a href="https://colab.research.google.com/github/Taha-Mukati/TEAM_GRACE/blob/main/TeamGracextracolumnpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data_filename = 'traffic_accidents.csv'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(data_filename)

In [ ]:
df

,crash_date,traffic_control_device,weather_condition,lighting_condition,first_crash_type,trafficway_type,alignment,roadway_surface_cond,road_defect,crash_type,...,most_severe_injury,injuries_total,injuries_fatal,injuries_incapacitating,injuries_non_incapacitating,injuries_reported_not_evident,injuries_no_indication,crash_hour,crash_day_of_week,crash_month
0,07/29/2023 01:00:00 PM,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,TURNING,NOT DIVIDED,STRAIGHT AND LEVEL,UNKNOWN,UNKNOWN,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,3.0,13,7,7
1,08/13/2023 12:11:00 AM,TRAFFIC SIGNAL,CLEAR,"DARKNESS, LIGHTED ROAD",TURNING,FOUR WAY,STRAIGHT AND LEVEL,DRY,NO DEFECTS,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,2.0,0,1,8
2,12/09/2021 10:30:00 AM,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,REAR END,T-INTERSECTION,STRAIGHT AND LEVEL,DRY,NO DEFECTS,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,3.0,10,5,12
3,08/09/2023 07:55:00 PM,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,ANGLE,FOUR WAY,STRAIGHT AND LEVEL,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,...,NONINCAPACITATING INJURY,5.0,0.0,0.0,5.0,0.0,0.0,19,4,8
4,08/19/2023 02:55:00 PM,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,REAR END,T-INTERSECTION,STRAIGHT AND LEVEL,UNKNOWN,UNKNOWN,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,3.0,14,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209301,09/13/2023 01:08:00 PM,UNKNOWN,UNKNOWN,UNKNOWN,TURNING,FOUR WAY,STRAIGHT AND LEVEL,UNKNOWN,UNKNOWN,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,2.0,13,4,9
209302,07/18/2023 02:10:00 PM,UNKNOWN,CLEAR,DAYLIGHT,SIDESWIPE SAME DIRECTION,NOT DIVIDED,STRAIGHT AND LEVEL,DRY,NO DEFECTS,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,2.0,14,3,7
209303,10/23/2019 01:32:00 PM,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,PEDESTRIAN,DIVIDED - W/MEDIAN (NOT RAISED),STRAIGHT ON GRADE,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,...,INCAPACITATING INJURY,2.0,0.0,2.0,0.0,0.0,0.0,13,4,10
209304,06/01/2020 03:23:00 PM,NO CONTROLS,CLEAR,DAYLIGHT,PEDESTRIAN,T-INTERSECTION,STRAIGHT AND LEVEL,DRY,NO DEFECTS,INJURY AND / OR TOW DUE TO CRASH,...,NONINCAPACITATING INJURY,1.0,0.0,0.0,1.0,0.0,1.0,15,2,6
209305,12/16/2022 12:10:00 PM,TRAFFIC SIGNAL,CLEAR,DAYLIGHT,TURNING,FOUR WAY,STRAIGHT AND LEVEL,WET,NO DEFECTS,NO INJURY / DRIVE AWAY,...,NO INDICATION OF INJURY,0.0,0.0,0.0,0.0,0.0,2.0,12,6,12

In [ ]:
df.columns

Index(['crash_date', 'traffic_control_device', 'weather_condition',
       'lighting_condition', 'first_crash_type', 'trafficway_type',
       'alignment', 'roadway_surface_cond', 'road_defect', 'crash_type',
       'intersection_related_i', 'damage', 'prim_contributory_cause',
       'num_units', 'most_severe_injury', 'injuries_total', 'injuries_fatal',
       'injuries_incapacitating', 'injuries_non_incapacitating',
       'injuries_reported_not_evident', 'injuries_no_indication', 'crash_hour',
       'crash_day_of_week', 'crash_month'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209306 entries, 0 to 209305
Data columns (total 24 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     209306 non-null  object
 1   traffic_control_device         209306 non-null  object
 2   weather_condition              209306 non-null  object
 3   lighting_condition             209306 non-null  object
 4   first_crash_type               209306 non-null  object
 5   trafficway_type                209306 non-null  object
 6   alignment                      209306 non-null  object
 7   roadway_surface_cond           209306 non-null  object
 8   road_defect                    209306 non-null  object
 9   crash_type                     209306 non-null  object
 10  intersection_related_i         209306 non-null  object
 11  damage                         209306 non-null  object
 12  prim_contributory_cause        209306 non-null  object
 13  num_units                      209306 non-null  int64
 14  most_severe_injury             209306 non-null  object
 15  injuries_total                 209306 non-null  float64
 16  injuries_fatal                 209306 non-null  float64
 17  injuries_incapacitating        209306 non-null  float64
 18  injuries_non_incapacitating    209306 non-null  float64
 19  injuries_reported_not_evident  209306 non-null  float64
 20  injuries_no_indication         209306 non-null  float64
 21  crash_hour                     209306 non-null  int64
 22  crash_day_of_week              209306 non-null  int64
 23  crash_month                    209306 non-null  int64
dtypes: float64(6), int64(4), object(14)
memory usage: 38.3+ MB

In [ ]:
df.describe()

,num_units,injuries_total,injuries_fatal,injuries_incapacitating,injuries_non_incapacitating,injuries_reported_not_evident,injuries_no_indication,crash_hour,crash_day_of_week,crash_month
count,209306.000000,209306.000000,209306.000000,209306.000000,209306.000000,209306.000000,209306.000000,209306.000000,209306.000000,209306.000000
mean,2.063300,0.382717,0.001859,0.038102,0.221241,0.121516,2.244002,13.373047,4.144024,6.771822
std,0.396012,0.799720,0.047502,0.233964,0.614960,0.450865,1.241175,5.603830,1.966864,3.427593
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,9.000000,2.000000,4.000000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,14.000000,4.000000,7.000000
75%,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,17.000000,6.000000,10.000000
max,11.000000,21.000000,3.000000,7.000000,21.000000,15.000000,49.000000,23.000000,7.000000,12.000000

In [ ]:
df.isna()

,crash_date,traffic_control_device,weather_condition,lighting_condition,first_crash_type,trafficway_type,alignment,roadway_surface_cond,road_defect,crash_type,...,most_severe_injury,injuries_total,injuries_fatal,injuries_incapacitating,injuries_non_incapacitating,injuries_reported_not_evident,injuries_no_indication,crash_hour,crash_day_of_week,crash_month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209301,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
209302,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
209303,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
209304,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
209305,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.weather_condition

0           CLEAR
1           CLEAR
2           CLEAR
3           CLEAR
4           CLEAR
           ...
209301    UNKNOWN
209302      CLEAR
209303      CLEAR
209304      CLEAR
209305      CLEAR
Name: weather_condition, Length: 209306, dtype: object

In [ ]:
weather_condition_accidents = df.weather_condition.value_counts()

In [ ]:
weather_condition_accidents
len(weather_condition_accidents)

12

In [ ]:
lighting_condition_accidents = df.lighting_condition.value_counts()

In [ ]:
lighting_condition_accidents

lighting_condition
DAYLIGHT                  134109
DARKNESS, LIGHTED ROAD     53378
DARKNESS                    7436
DUSK                        6323
UNKNOWN                     4336
DAWN                        3724
Name: count, dtype: int64

In [ ]:
len(lighting_condition_accidents)

6

In [ ]:
first_crash_types = df.crash_type.value_counts()

In [ ]:
first_crash_types

crash_type
NO INJURY / DRIVE AWAY              117376
INJURY AND / OR TOW DUE TO CRASH     91930
Name: count, dtype: int64

In [ ]:
len(first_crash_types)

2

In [ ]:
trafficway_types = df.trafficway_type.value_counts()

In [ ]:
trafficway_types

trafficway_type
NOT DIVIDED                        77753
FOUR WAY                           49057
DIVIDED - W/MEDIAN (NOT RAISED)    34221
ONE-WAY                            12341
DIVIDED - W/MEDIAN BARRIER         10720
T-INTERSECTION                      9233
OTHER                               4757
CENTER TURN LANE                    2862
UNKNOWN INTERSECTION TYPE           1885
FIVE POINT, OR MORE                 1119
UNKNOWN                             1060
Y-INTERSECTION                       958
TRAFFIC ROUTE                        776
ALLEY                                741
NOT REPORTED                         581
PARKING LOT                          448
RAMP                                 375
ROUNDABOUT                           149
DRIVEWAY                             143
L-INTERSECTION                       127
Name: count, dtype: int64

In [ ]:
len(trafficway_types)

20

In [ ]:
allignment_types = df.alignment.value_counts()

In [ ]:
allignment_types

alignment
STRAIGHT AND LEVEL       204590
STRAIGHT ON GRADE          2992
CURVE, LEVEL               1014
STRAIGHT ON HILLCREST       478
CURVE ON GRADE              179
CURVE ON HILLCREST           53
Name: count, dtype: int64

In [ ]:
len(allignment_types)

6

In [ ]:
roadway_surface_conditions = df.roadway_surface_cond.value_counts()

In [ ]:
roadway_surface_conditions

roadway_surface_cond
DRY                155905
WET                 32908
UNKNOWN             12509
SNOW OR SLUSH        6203
ICE                  1303
OTHER                 438
SAND, MUD, DIRT        40
Name: count, dtype: int64

In [ ]:
len(roadway_surface_conditions)

7

In [ ]:
road_defect_conditions = df.road_defect.value_counts()

In [ ]:
roadway_surface_conditions

roadway_surface_cond
DRY                155905
WET                 32908
UNKNOWN             12509
SNOW OR SLUSH        6203
ICE                  1303
OTHER                 438
SAND, MUD, DIRT        40
Name: count, dtype: int64

In [ ]:
len(road_defect_conditions)

7

In [ ]:
crash_type_conditions = df.crash_type.value_counts()

In [ ]:
crash_type_conditions

crash_type
NO INJURY / DRIVE AWAY              117376
INJURY AND / OR TOW DUE TO CRASH     91930
Name: count, dtype: int64

In [ ]:
len(crash_type_conditions)

2

In [ ]:
intersection_related_i_conditions = df.intersection_related_i.value_counts()

In [ ]:
intersection_related_i_conditions

intersection_related_i
Y    199324
N      9982
Name: count, dtype: int64

In [ ]:
len(intersection_related_i_conditions)

2

In [ ]:
damage_conditions = df.damage.value_counts()

In [ ]:
damage_conditions

damage
OVER $1,500      147313
$501 - $1,500     41210
$500 OR LESS      20783
Name: count, dtype: int64

In [ ]:
len(damage_conditions)

3

In [ ]:
prim_contributory_cause_conditions = df.prim_contributory_cause.value_counts()

In [ ]:
prim_contributory_cause_conditions

prim_contributory_cause
UNABLE TO DETERMINE                                                                 58316
FAILING TO YIELD RIGHT-OF-WAY                                                       42914
FOLLOWING TOO CLOSELY                                                               19084
DISREGARDING TRAFFIC SIGNALS                                                        14591
IMPROPER TURNING/NO SIGNAL                                                          12643
FAILING TO REDUCE SPEED TO AVOID CRASH                                              10676
IMPROPER OVERTAKING/PASSING                                                          8302
DISREGARDING STOP SIGN                                                               6749
IMPROPER LANE USAGE                                                                  6462
NOT APPLICABLE                                                                       5241
DRIVING SKILLS/KNOWLEDGE/EXPERIENCE                                                  5048
WEATHER                                                                              3074
IMPROPER BACKING                                                                     2340
OPERATING VEHICLE IN ERRATIC, RECKLESS, CARELESS, NEGLIGENT OR AGGRESSIVE MANNER     1868
VISION OBSCURED (SIGNS, TREE LIMBS, BUILDINGS, ETC.)                                 1793
DISTRACTION - FROM INSIDE VEHICLE                                                    1275
DRIVING ON WRONG SIDE/WRONG WAY                                                      1188
DISREGARDING OTHER TRAFFIC SIGNS                                                     1099
EQUIPMENT - VEHICLE CONDITION                                                         952
UNDER THE INFLUENCE OF ALCOHOL/DRUGS (USE WHEN ARREST IS EFFECTED)                    860
PHYSICAL CONDITION OF DRIVER                                                          779
DISTRACTION - FROM OUTSIDE VEHICLE                                                    760
EXCEEDING SAFE SPEED FOR CONDITIONS                                                   441
TURNING RIGHT ON RED                                                                  435
EXCEEDING AUTHORIZED SPEED LIMIT                                                      403
DISREGARDING ROAD MARKINGS                                                            336
ROAD CONSTRUCTION/MAINTENANCE                                                         298
EVASIVE ACTION DUE TO ANIMAL, OBJECT, NONMOTORIST                                     284
CELL PHONE USE OTHER THAN TEXTING                                                     254
ROAD ENGINEERING/SURFACE/MARKING DEFECTS                                              179
HAD BEEN DRINKING (USE WHEN ARREST IS NOT MADE)                                       133
DISREGARDING YIELD SIGN                                                               132
DISTRACTION - OTHER ELECTRONIC DEVICE (NAVIGATION DEVICE, DVD PLAYER, ETC.)            93
RELATED TO BUS STOP                                                                    79
TEXTING                                                                                72
ANIMAL                                                                                 49
OBSTRUCTED CROSSWALKS                                                                  48
BICYCLE ADVANCING LEGALLY ON RED LIGHT                                                 32
PASSING STOPPED SCHOOL BUS                                                             17
MOTORCYCLE ADVANCING LEGALLY ON RED LIGHT                                               7
Name: count, dtype: int64

In [ ]:
len(prim_contributory_cause_conditions)

40

In [ ]:
num_units_conditions = df.num_units.value_counts()

In [ ]:
num_units_conditions

num_units
2     189366
3      12251
1       5123
4       1908
5        453
6        135
7         34
8         22
9          9
10         4
11         1
Name: count, dtype: int64

In [ ]:
len(num_units_conditions)

11

In [ ]:
most_severe_injury_conditions = df.most_severe_injury.value_counts()

In [ ]:
most_severe_injury_conditions

In [ ]:
len(most_severe_injury_conditions)

In [ ]:
injuries_total_conditions = df.injuries_total.value_counts()

In [ ]:
injuries_total_conditions

injuries_total
0.0     154789
1.0      38378
2.0      10447
3.0       3505
4.0       1338
5.0        488
6.0        212
7.0         80
8.0         30
9.0         14
10.0         7
11.0         5
15.0         4
12.0         3
21.0         2
16.0         1
17.0         1
19.0         1
13.0         1
Name: count, dtype: int64

In [ ]:
len(injuries_total_conditions)

In [ ]:
injuries_fatal_conditions = df.injuries_fatal.value_counts()

In [ ]:
injuries_fatal_conditions

injuries_fatal
0.0    208955
1.0       317
2.0        30
3.0         4
Name: count, dtype: int64

In [ ]:
len(injuries_fatal_conditions)

In [ ]:
injuries_incapacitating_conditions = df.injuries_incapacitating.value_counts()

In [ ]:
injuries_incapacitating_conditions

In [ ]:
len(injuries_incapacitating_conditions)

In [ ]:
injuries_nonincapacitating_conditions = df.injuries_non_incapacitating.value_counts()

In [ ]:
injuries_nonincapacitating_conditions

injuries_non_incapacitating
0.0     176306
1.0      24413
2.0       5688
3.0       1828
4.0        667
5.0        232
6.0        106
7.0         33
8.0         15
10.0         5
9.0          5
14.0         1
19.0         1
18.0         1
21.0         1
12.0         1
11.0         1
16.0         1
13.0         1
Name: count, dtype: int64

In [ ]:
len(injuries_nonincapacitating_conditions)

In [ ]:
injuries_reported_not_evident_conditions = df.injuries_reported_not_evident.value_counts()

In [ ]:
injuries_reported_not_evident_conditions

In [ ]:
len(injuries_reported_not_evident_conditions)

In [ ]:
injuries_no_indication_conditions = df.injuries_no_indication.value_counts()

In [ ]:
injuries_no_indication_conditions

In [ ]:
len(injuries_no_indication_conditions)

In [ ]:
crash_hour_conditions = df.crash_hour.value_counts()

In [ ]:
crash_hour_conditions

In [ ]:
len(crash_hour_conditions)

In [ ]:
crash_day_of_week_conditions = df.crash_day_of_week.value_counts()

In [ ]:
crash_day_of_week_conditions

In [ ]:
len(crash_day_of_week_conditions)

In [ ]:
crash_month_conditions = df.crash_month.value_counts()

In [ ]:
crash_month_conditions

In [ ]:
len(crash_month_conditions)